@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* References for @layer updates */
/* @layer base {
  Base styles
  body {
    font-family: 'Inter', sans-serif;
    color: #333;
  }
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  Component-specific styles
  .card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
  }
}

@layer components {
  .btn-primary {
    @apply px-5 py-2 font-semibold text-white rounded-full shadow-md bg-violet-500 hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
  }
}

@layer utilities {
  Utility classes
  .text-red {
    color: #ff0000;
  }
} */

/* Reference for @apply updates */
/* .text-headline-1 {
  @apply font-extrabold text-[64px] leading-[87px] -tracking-[0.02em] text-[#1D242D];
} */

@layer base {
  *,
  html,
  body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
  }
}

@layer components {
  .btn-primary {
    @apply bg-tprimary-500 text-tgray-25 text-sm font-semibold py-[10px] px-[18px] rounded-lg;
  }

  .btn-dropdown-option {
    @apply px-2 py-2 text-sm font-medium bg-white rounded-lg text-tgray-700;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 5px; /* Thin scrollbar width */
}

::-webkit-scrollbar-thumb {
  background-color: #d1bba6; /* Thumb color */
}

::-webkit-scrollbar-track {
  background-color: #edf2f7; /* Track color */
}
